<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <app-destino-form (onSave)="api.addDestino($event)"></app-destino-form>
        </div>
    </div>
    <hr class="my-3">
    <div class="row">
        <app-destino-viaje
            *ngFor="let d of (api.fetchDestinos() | async); let i = index"
            [destino]="d"
            [index]="i+1"
            (onFavorite)="api.setFavorite($event)"
            (onDelete)="api.deleteDestino($event)"
        ></app-destino-viaje>
    </div>
    <!--<hr class="mb-5">
    <div class="row">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates">{{ u }}</li>
        </ul>
    </div>-->
</div>